.board {
  position: relative;
  display: flex;
  justify-content: center;
  width: 311px;
  height: 305px;
  margin-top: 95px;

  @include mq($from: mobile) {
    margin-top: 48px;
    zoom: 150%;
  }

  .board-bg {
    width: 227px;
    height: 227px;
    background-image: url('~@/assets/images/bg-pentagon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 227px 227px;
  }

  @mixin icon($border-bottom, $border-up, $icon-svg, $icon-size) {
    position: absolute;
    width: 96px;
    height: 92px;
    background-image: linear-gradient(0deg, #f3f3f3 0%, #dadada 98.34%);
    background-repeat: no-repeat;
    border: 10px solid $border-bottom;
    border-radius: 50%;

    &::before {
      position: absolute;
      top: -14px;
      left: -10px;
      display: block;
      width: 96px;
      height: 92px;
      content: '';
      background: rgba(#babfd4, 0.6);
      background-repeat: no-repeat;
      border-radius: 50%;
    }
    &::after {
      position: absolute;
      top: -14px;
      left: -10px;
      display: block;
      width: 76px;
      height: 72px;
      content: '';
      background-image: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.0966455) 0%,
          rgba(255, 255, 255, 0.0001) 100%
        ),
        url($icon-svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%, $icon-size;
      border: 10px solid $border-up;
      border-radius: 50%;
    }
  }

  .icon {
  }

  .icon-rock {
    @include icon(
      #9d1634,
      #db2e4d,
      '~@/assets/images/icon-rock.svg',
      32px 31px
    );

    top: 180px;
    right: 40px;
  }
  .icon-paper {
    @include icon(
      #2a45c2,
      #4664f4,
      '~@/assets/images/icon-paper.svg',
      32px 39px
    );

    top: 60px;
    right: 0;
  }
  .icon-scissors {
    @include icon(
      #c76c1b,
      #eb9f0e,
      '~@/assets/images/icon-scissors.svg',
      35px 35px
    );

    top: -20px;
  }
  .icon-lizard {
    @include icon(
      #5f37a8,
      #834ee3,
      '~@/assets/images/icon-lizard.svg',
      39px 38px
    );

    top: 180px;
    left: 40px;
  }
  .icon-spock {
    @include icon(
      #2d8dab,
      #3fb7cd,
      '~@/assets/images/icon-spock.svg',
      29px 39px
    );

    top: 60px;
    left: 0;
  }
}
