.board-selected {
  @extend .board;

  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // width: 100%;
  display: block !important;

  .selections {
    display: flex;
    flex: 2;
    justify-content: center;
  }

  .icon-user {
    position: relative !important;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    left: unset !important;
    cursor: default;
    zoom: 120%;
  }
  .icon-computer {
    position: relative !important;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    left: unset !important;
    width: 110px;
    height: 110px;
    cursor: default;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &.icon-computer-selected {
      zoom: 120%;
    }
  }

  .selection-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    .selection-text {
      margin-top: 17px;
      font-size: 15px;
      font-weight: 600;
      line-height: 32px;
      color: #fff;
      text-shadow: 0 3px 3px rgba(0, 0, 0, 0.196706);
      text-transform: uppercase;
      letter-spacing: 1.875px;
      white-space: nowrap;
    }
  }

  .selection-box + .selection-box {
    margin-left: 67.32px;
  }
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
  text-transform: uppercase;

  .results-text {
    font-size: 56px;
    font-weight: 600;
    line-height: 67px;
    color: #fff;
    text-align: center;
    text-shadow: 0 3px 3px rgba(0, 0, 0, 0.196706);
  }
  .play-again {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 48px;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #3b4262;
    letter-spacing: 2.5px;
    background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.196706);
  }
}

.winner {
  border-radius: 50%;
  box-shadow: 0 0 0 18px rgba(#fff, 0.05),
    0 0 0 calc(18px + 33px) rgba(#fff, 0.05),
    0 0 0 calc(18px + 33px + 32px) rgba(#fff, 0.05);
}
