.rules {
  margin-top: auto;
}
.btn-rules {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  border: 1px solid #fff;
  border-radius: 8px;
}
