.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 9px;
  margin-bottom: 105px;
  border: 3px solid rgba(255, 255, 255, 0.289199);
  border-radius: 5px;
}

.header .header-logo img {
  width: 49px;
  height: 48px;
}

.header .header-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 72px;
  padding: 10px;
  text-transform: uppercase;
  background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
  border-radius: 4px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.196706);
}

.header .header-score .score-text {
  font-size: 10px;
  font-weight: var(--bold);
  line-height: 12px;
  color: #2a45c2;
  letter-spacing: 1.5625px;
}

.header .header-score .score-number {
  font-size: 40px;
  font-weight: var(--bold);
  line-height: 40px;
  color: #565468;
}

@media (min-width: 769px) {
  .header {
    width: 100%;
    max-width: 700px;
    padding: 15px 24px;
    margin-bottom: 0;
    border-radius: 15px;
  }

  .header .header-logo img {
    width: 108px;
    height: 108px;
  }

  .header .header-score {
    width: 150px;
    height: 114px;
  }

  .header .header-score .score-text {
    font-size: 16px;
    line-height: 19px;
    color: #2a45c2;
    letter-spacing: 2.5px;
  }

  .header .header-score .score-number {
    font-size: 64px;
    line-height: 64px;
    color: #565468;
  }
}
