* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-width: nth($mq-breakpoints, 1);
  height: 100%;
  font-family: $font-family;
  font-size: 16px;
  font-weight: $text-regular;
  background-color: #fafafa;
  text-rendering: geometricPrecision;
}
