/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui";

/* Base styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-width: 375px;
  height: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
  text-rendering: geometricPrecision;
}

/* Game container */
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 32px 32px 56px;
}

@media (min-width: 769px) {
  .game {
    padding: 48px 32px;
  }
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 9px;
  margin-bottom: 105px;
  border: 3px solid rgba(255, 255, 255, 0.289199);
  border-radius: 5px;
}

@media (min-width: 769px) {
  .header {
    margin-bottom: 0;
    width: 100%;
    max-width: 700px;
    padding: 15px 24px;
    border-radius: 15px;
  }
}

.header-logo img {
  width: 49px;
  height: 48px;
}

@media (min-width: 769px) {
  .header-logo img {
    width: 108px;
    height: 108px;
  }
}

.header-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 72px;
  padding: 10px;
  text-transform: uppercase;
  background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
  border-radius: 4px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.196706);
}

@media (min-width: 769px) {
  .header-score {
    width: 150px;
    height: 114px;
  }
}

.score-text {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  color: #2a45c2;
  letter-spacing: 1.5625px;
}

@media (min-width: 769px) {
  .score-text {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.5px;
  }
}

.score-number {
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  color: #565468;
}

@media (min-width: 769px) {
  .score-number {
    font-size: 64px;
    line-height: 64px;
  }
}

/* Board styles */
.board {
  position: relative;
  display: flex;
  justify-content: center;
  width: 311px;
  height: 305px;
  margin-top: auto;
}

@media (min-width: 769px) {
  .board {
    margin-top: 75px;
    zoom: 150%;
  }
}

.board.selected > div {
  display: none;
}

.board-bg {
  width: 227px;
  height: 227px;
  background-image: url('./assets/images/bg-pentagon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 227px 227px;
}

/* Icon base styles */
.icon {
  position: absolute;
  width: 96px;
  height: 92px;
  background-image: linear-gradient(0deg, #f3f3f3 0%, #dadada 98.34%);
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
}

.icon::before {
  position: absolute;
  top: -14px;
  left: -10px;
  display: block;
  width: 96px;
  height: 92px;
  content: '';
  background: rgba(186, 191, 212, 0.6);
  background-repeat: no-repeat;
  border-radius: 50%;
}

.icon::after {
  position: absolute;
  top: -14px;
  left: -10px;
  display: block;
  width: 76px;
  height: 72px;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

/* Specific icon styles */
.icon-scissors {
  top: -36px;
  border: 10px solid #c76c1b;
}
.icon-scissors::after {
  background-image: url('./assets/images/icon-scissors.svg');
  background-size: 35px 35px;
  border: 10px solid #eb9f0e;
}

.icon-paper {
  top: 50px;
  right: 0;
  border: 10px solid #2a45c2;
}
.icon-paper::after {
  background-image: url('./assets/images/icon-paper.svg');
  background-size: 32px 39px;
  border: 10px solid #4664f4;
}

.icon-rock {
  top: 172px;
  right: 40px;
  border: 10px solid #9d1634;
}
.icon-rock::after {
  background-image: url('./assets/images/icon-rock.svg');
  background-size: 32px 31px;
  border: 10px solid #db2e4d;
}

.icon-lizard {
  top: 172px;
  left: 40px;
  border: 10px solid #5f37a8;
}
.icon-lizard::after {
  background-image: url('./assets/images/icon-lizard.svg');
  background-size: 39px 38px;
  border: 10px solid #834ee3;
}

.icon-spock {
  top: 50px;
  left: 0;
  border: 10px solid #2d8dab;
}
.icon-spock::after {
  background-image: url('./assets/images/icon-spock.svg');
  background-size: 29px 39px;
  border: 10px solid #3fb7cd;
}

/* Board selected styles */
.board-selected {
  display: block !important;
  margin-top: 0 !important;
}

@media (min-width: 769px) {
  .board-selected {
    width: 100% !important;
    margin-top: 72px !important;
    zoom: 100% !important;
  }
}

.board-selected .selections {
  display: flex;
  flex: 2;
  justify-content: center;
}

.board-selected .icon-user {
  position: relative !important;
  top: unset !important;
  right: unset !important;
  bottom: unset !important;
  left: unset !important;
  cursor: default;
  zoom: 130%;
}

@media (min-width: 769px) {
  .board-selected .icon-user {
    zoom: 300%;
  }
}

.board-selected .icon-computer {
  position: relative !important;
  top: unset !important;
  right: unset !important;
  bottom: unset !important;
  left: unset !important;
  width: 110px;
  height: 110px;
  margin-bottom: 10px;
  cursor: default;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

@media (min-width: 769px) {
  .board-selected .icon-computer {
    width: 224.63px;
    height: 224.63px;
  }
}

.board-selected .icon-computer.icon-computer-selected {
  margin-bottom: 0;
  zoom: 130%;
}

@media (min-width: 769px) {
  .board-selected .icon-computer.icon-computer-selected {
    zoom: 300%;
  }
}

.board-selected .selection-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-selected .selection-box .icon {
  width: 125px;
  height: 120px;
}

@media (min-width: 769px) {
  .board-selected .selection-box {
    flex-direction: column-reverse;
  }
  .board-selected .selection-box .icon {
    width: 288px;
    height: 276px;
  }
}

.board-selected .selection-text {
  margin-top: 28px;
  font-size: 15px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.196706);
  text-transform: uppercase;
  letter-spacing: 1.875px;
  white-space: nowrap;
}

@media (min-width: 769px) {
  .board-selected .selection-text {
    margin-top: 0;
    margin-bottom: 78px;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 3px;
  }
  .board-selected .selection-text.computer-text {
    padding-right: 53px;
  }
}

.board-selected .selection-box + .selection-box {
  margin-left: 42.32px;
}

@media (min-width: 769px) {
  .board-selected .selection-box + .selection-box {
    margin-left: 153px;
  }
}

.board-selected[data-results-are-in='true']
  .selection-box
  .selection-text.computer-text {
  padding-right: 0;
}

@media (min-width: 769px) {
  .board-selected[data-results-are-in='true'] .selection-box + .selection-box {
    margin-left: 352px;
  }
}

.board-selected .results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  text-transform: uppercase;
}

@media (min-width: 769px) {
  .board-selected .results {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-top: 130px;
    margin-left: -110px;
  }
}

.board-selected .results .results-text {
  font-size: 56px;
  font-weight: 600;
  line-height: 67px;
  color: #fff;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.196706);
}

.board-selected .results .play-again {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 48px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #3b4262;
  letter-spacing: 2.5px;
  cursor: pointer;
  background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.196706);
}

.board-selected .results .play-again:hover {
  color: #db2e4d;
}

.board-selected .winner {
  border-radius: 50%;
  box-shadow:
    0 0 0 18px rgba(255, 255, 255, 0.025),
    0 0 0 calc(18px + 33px) rgba(255, 255, 255, 0.025),
    0 0 0 calc(18px + 33px + 32px) rgba(255, 255, 255, 0.025);
}

@media (min-width: 769px) {
  .board-selected .winner {
    box-shadow:
      0 0 0 64px rgba(255, 255, 255, 0.025),
      0 0 0 calc(120px) rgba(255, 255, 255, 0.025),
      0 0 0 calc(202px) rgba(255, 255, 255, 0.025);
  }
}

/* Rules styles */
.rules {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
}

@media (min-width: 769px) {
  .rules {
    justify-content: flex-end;
    margin-bottom: -17px;
  }
}

.btn-rules {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 8px;
}

.btn-rules:hover {
  color: #3b4262;
  background: linear-gradient(0deg, #f3f3f3 0%, #fff 100%);
}

.rules-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 95px 35px 65.91px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.196706);
  z-index: 100;
}

@media (min-width: 769px) {
  .rules-modal {
    top: 154px;
    left: 50%;
    width: 400px;
    height: 461px;
    padding: 32px 32px 47px;
    margin-left: -200px;
  }
}

.modal-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  color: #3b4262;
  text-transform: uppercase;
}

@media (min-width: 769px) {
  .modal-title {
    width: 100%;
    text-align: left;
  }
}

.modal-image {
  margin-top: 96px;
}

@media (min-width: 769px) {
  .modal-image {
    margin-top: 20px;
  }
}

.modal-close {
  margin-top: auto;
  cursor: pointer;
}

@media (min-width: 769px) {
  .modal-close {
    position: absolute;
    top: 37px;
    right: 32px;
    margin: 0;
  }
}
