@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin "daisyui";

/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

/* Custom radial gradient */
.bg-gradient-radial {
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
}

/* Custom colors */
.text-score-blue {
  color: #2a45c2;
}

.text-score-gray {
  color: #565468;
}

.border-light {
  border-color: rgba(255, 255, 255, 0.289199);
}

.winner-shadow {
  box-shadow:
    0 0 0 18px rgba(255, 255, 255, 0.025),
    0 0 0 51px rgba(255, 255, 255, 0.025),
    0 0 0 83px rgba(255, 255, 255, 0.025);
}

@media (min-width: 768px) {
  .winner-shadow {
    box-shadow:
      0 0 0 64px rgba(255, 255, 255, 0.025),
      0 0 0 120px rgba(255, 255, 255, 0.025),
      0 0 0 202px rgba(255, 255, 255, 0.025);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

/* Game-specific styles */
.board-bg {
  width: 227px;
  height: 227px;
  background-image: url('/assets/images/bg-pentagon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 227px 227px;
}

/* Icon styles */
.icon {
  position: relative;
  width: 96px;
  height: 92px;
  background-image: linear-gradient(0deg, #f3f3f3 0%, #dadada 98.34%);
  border-radius: 50%;
  cursor: pointer;
}

.icon::before {
  position: absolute;
  top: -14px;
  left: -10px;
  display: block;
  width: 96px;
  height: 92px;
  content: '';
  background: rgba(186, 191, 212, 0.6);
  border-radius: 50%;
}

.icon::after {
  position: absolute;
  top: -14px;
  left: -10px;
  display: block;
  width: 76px;
  height: 72px;
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

/* Icons style for each game option */
.icon-rock {
  border: 10px solid #9d1634;
}
.icon-rock::after {
  background-image: url('/assets/images/icon-rock.svg');
  background-size: 32px 31px;
  border: 10px solid #db2e4d;
}

.icon-paper {
  border: 10px solid #2a45c2;
}
.icon-paper::after {
  background-image: url('/assets/images/icon-paper.svg');
  background-size: 32px 39px;
  border: 10px solid #4664f4;
}

.icon-scissors {
  border: 10px solid #c76c1b;
}
.icon-scissors::after {
  background-image: url('/assets/images/icon-scissors.svg');
  background-size: 35px 35px;
  border: 10px solid #eb9f0e;
}

.icon-lizard {
  border: 10px solid #5f37a8;
}
.icon-lizard::after {
  background-image: url('/assets/images/icon-lizard.svg');
  background-size: 39px 38px;
  border: 10px solid #834ee3;
}

.icon-spock {
  border: 10px solid #2d8dab;
}
.icon-spock::after {
  background-image: url('/assets/images/icon-spock.svg');
  background-size: 29px 39px;
  border: 10px solid #3fb7cd;
}

/* Board results specific styles */
.results-text {
  font-size: 56px;
  font-weight: 600;
  line-height: 67px;
  color: #fff;
  text-align: center;
  text-shadow: 0 3px 3px rgba(0, 0, 0, 0.196706);
}

/* Media query for responsive layout */
@media (min-width: 768px) {
  .board-results-in .selection-box + .selection-box {
    margin-left: 352px;
  }
}
